{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_product_quantity %}
    <div class="cart-item-quantity">
        <div class="product-detail-quantity-input input-group input-group-lg q-input" 
        data-quantity-select="true"
        data-quantity-select-options='{
            "purchaseSteps" : "{{ lineItem.quantityInformation.purchaseSteps }}",
            "maxQuantity": "{{ lineItem.quantityInformation.maxPurchase }}",
            "unitPrice": "{{ lineItem.price.unitPrice }}",
            "productId": "{{ lineItem.id }}" 
        }'>

            {% block component_offcanvas_product_quantity_form %}
                {% if lineItem.quantityInformation and lineItem.stackable %}

                    {% if lineItem.removable %}
                        <form action="{{ path('frontend.checkout.line-item.delete', {'id': id}) }}"
                                class="cart-item-remove js-offcanvas-cart-remove-product"
                                method="post">

                            {% block component_offcanvas_product_remove_form_csrf %}
                                {{ sw_csrf('frontend.checkout.line-item.delete') }}
                            {% endblock %}

                            {% block component_offcanvas_product_remove_redirect %}
                                <input type="hidden"
                                        name="redirectTo"
                                        value="frontend.cart.offcanvas"/>
                            {% endblock %}

                            {% block component_offcanvas_product_remove_submit %}
                                <button type="submit"
                                        title="{{ "checkout.removeLineItem"|trans|striptags }}"
                                        data-product-id="{{ lineItem.id }}"
                                        class="btn btn-secondary cart-item-remove-button remove">
                                    {% sw_icon 'star' %}
                                </button>
                            {% endblock %}
                        </form>
                    {% endif %}

                    <form action="{{ path('frontend.checkout.line-item.change-quantity', {'id': id}) }}"
                            class="cart-item-quantity-container"
                            method="post">

                        {% block component_offcanvas_product_quantity_form_csrf %}
                            {{ sw_csrf('frontend.checkout.line-item.change-quantity') }}
                        {% endblock %}

                        {% block component_offcanvas_product_quantity_form_redirect %}
                            <input type="hidden"
                                    name="redirectTo"
                                    value="frontend.cart.offcanvas"/>
                        {% endblock %}

                        {% set quantityInformation = lineItem.quantityInformation %}
                        {% if quantityInformation.maxPurchase %}
                            {% set maxQuantity = quantityInformation.maxPurchase %}
                        {% else %}
                            {% set maxQuantity = config('core.cart.maxQuantity') %}
                        {% endif %}

                        {% block component_offcanvas_product_buy_quantity %}

                                <div class="input-group-prepend minus">
                                    <button class="btn btn-secondary decrease" type="button"> {% sw_icon 'minus' %} </button>
                                </div>

                                <input name="quantity" type="number" class="quantity-input-{{ id }} js-offcanvas-cart-change-quantity"
                                    name="lineItems[{{ lineItem.id }}][quantity]"
                                    title="Quantity"
                                    value="{{ lineItem.quantity }}"
                                    max="{{ lineItem.quantityInformation.maxPurchase }}"
                                    min="{{ lineItem.quantityInformation.minPurchase }}">

                                <div class="input-group-prepend plus">
                                    <button class="btn btn-secondary increase" type="button"> {% sw_icon 'plus' %} </button>
                                </div>
                            
                        {% endblock %}

                    </form>
                {% endif %}
            {% endblock %}
        </div> 
    </div>
{% endblock %}

{% block component_offcanvas_product_remove %}
{% endblock %}